/*提示label样式*/
.label{
	font-size: 32rpx;
	color: #333333;
	font-weight: 600;
	font-family: PingFang-SC-Bold;
	line-height: 32rpx;
}
/*label后描述信息样式*/
.value{
	font-size: 32rpx;
	color: #2A2A2A;
	font-family: PingFang-SC-Bold;
	line-height: 32rpx;
}
/* 头部扫码样式 */
.scanInput {
	width: 100%;
	height: 88rpx;
	background-color: #E4F4FF;
	line-height: 88rpx;
	font-family: PingFang-SC-Bold;
	font-size: 36rpx;
	color: #0C99F2;
	font-weight: 700;
	padding-left: 30rpx;
}


/* 库位提示 */
.locationPrompt {
	height: 100rpx;
	padding:26rpx  0rpx 24rpx 30rpx;
	color: rgba(51,51,51,1);
	font-family: PingFang-SC-Bold;
	font-size: 36rpx;
	line-height: 50rpx;
	font-weight: 600;
	background-color: rgba(255,255,255,1);	
}
.locationPrompt .locationPromptText{
	font-family: Helvetica-Bold;
	font-size: 36rpx;
	color: #2A2A2A;
	text-align: center;
	line-height: 50rpx;
	font-weight: 600;
}


/* 表格式样式  */
/* 示例看产量报工头部表格 */
.storage{
	background-color: #FFFFFF;
	width: 100%;
}
.storage > .storage-item{
	height: 100rpx;
	display: flex;
	justify-content: space-between;
	margin: 0 30rpx;
	font-size: 34rpx;
	line-height: 100rpx;
	border-bottom: 1px solid #EAEAEA;
}
.storage > .storage-item .storage-item-left{
	font-weight: bold;
	color: #333333;
}
.storage > .storage-item > .storage-item-right{
	display: flex;
	color: #666666;
}
.storage > .storage-item > .storage-item-right > .info{
	margin-right: 15rpx;
}
.storage > .storage-item > .storage-item-right > .input{
	height: 100rpx;
	font-size: 34rpx;
	text-align: right;
	color: #666666;
	margin-right: 15rpx;
}
.storage-item:last-child{
	border-bottom: 0;
}

/*扫描表头变蓝*/
 .selectLine {
 	background-color: #E4F4FF !important;
 	font-weight: 900;
 }
 .selectLine text{
 	color: #0C99F2 !important;
 	font-weight: 900;
 }
 .selectLine view{
 	color: #0C99F2 !important;
 	font-weight: 900;
 }

/* 字体样式大小 */
.iconfont{
	font-size: 12rpx;
}

/* 底部更多按钮样式 */
.bottomTab{
	width: 100%;
	height: 104rpx;
	line-height: 104rpx;
	background-color: #FFFFFF;
	position: fixed;
	left: 0;
	bottom: 0;
	border-top: 1px solid #EAEAEA;
	display: flex;
	justify-content: space-between;
	font-size: 34rpx;
	padding: 0 30rpx;
	box-sizing: border-box;
}
.bottomTab > .bottom-left{
		color: #585858;
		display: flex;
		align-items: center;
	}
.bottomTab > .bottom-left > text{
		margin-left: 15rpx;
	}
.bottomTab > .bottom-right{
		display: flex;
		}
.bottomTab > .bottom-right > .count{
			color: #585858;
			margin-right: 15rpx;
		}
.bottomTab > .bottom-right > .btn{
			height:80rpx;
			width: 200rpx;
			margin-top: 12rpx;
			line-height: 80rpx;
			text-align: center;
			border-radius: 4px;
		}
.bottomTab > .bottom-right > .btnActive{
			background: #0C99F2;
			color: #FFFFFF;
		}
.bottomTab > .bottom-right > .btnDisable{
			color: #999999;
			background: #E0E0E0;
		}
/*更多清空弹出框样式*/
 .btnModal {
 	position: absolute;
 	left: 30rpx;
 	bottom: 20rpx;
 	z-index: 10;
 }
 .btnModal>.modalImage {
 	width: 300rpx;
 	height:153rpx;
 }
 
 
/* 错误和正确的提示公共样式*/	
// .remindPopup {
// 	color: #666;
// 	font-size: 30rpx;
// 	font-weight: bold;
// 	border-radius: 10rpx;
// 	height: 80rpx;
// 	text-align: center;
// 	line-height: 80rpx;
// 	position: absolute;
// 	left: 50%;
// 	top: 50%;
// 	transform: translate(-50%,-50%);
// 	white-space:nowrap;
// 	z-index: 999;
// }
/* 正确提示特有样式 */
// .successPopup {
// 	background-color: #F6FFEE;
// 	border: 1px solid #B9EA93;
	
// }
// .successPopup>.successImage {
// 	display: inline-block;
// 	background: url('../static/cutWarehouse/success.png') no-repeat;
// 	width: 50rpx;
// 	height: 50rpx;
// 	position: absolute;
// 	left: 20rpx;
// 	top: 10rpx;
// }
/* 错误特有样式 */
// .errorPopup {
// 	background-color: #FFF2F1;
// 	border: 1px solid #FDA4A0;
	
// }
// .errorPopup>.errorImage {
// 	display: inline-block;
// 	background: url('../static/cutWarehouse/error.png') no-repeat;
// 	width: 40rpx;
// 	height: 40rpx;
// 	position: absolute;
// 	left: 20rpx;
// 	top: 20rpx;
// }
