/*提示label样式*/
.label{
	font-size: 48rpx;
	color: #333333;
	font-weight: 600;
	font-family: PingFang-SC-Bold;
	line-height: 48rpx;
}
/*label后描述信息样式*/
.value{
	font-size: 48rpx;
	color: #2A2A2A;
	font-family: PingFang-SC-Bold;
	line-height: 48rpx;
}
/* 头部扫码样式 */
.scanInput {
	width: 100%;
	height: 132rpx;
	background-color: #E4F4FF;
	line-height: 132rpx;
	font-family: PingFang-SC-Bold;
	font-size: 54rpx;
	color: #0C99F2;
	font-weight: 700;
	padding-left: 45rpx;
}


/* 库位提示 */
.locationPrompt {
	height: 150rpx;
	padding:39rpx  0rpx 36rpx 45rpx;
	color: rgba(51,51,51,1);
	font-family: PingFang-SC-Bold;
	font-size: 54rpx;
	line-height: 75rpx;
	font-weight: 600;
	background-color: rgba(255,255,255,1);	
}
.locationPrompt .locationPromptText{
	font-family: Helvetica-Bold;
	font-size: 54rpx;
	color: #2A2A2A;
	text-align: center;
	line-height: 75rpx;
	font-weight: 600;
}


/* 表格式样式  */
/* 示例看产量报工头部表格 */
.storage{
	background-color: #FFFFFF;
	width: 100%;
}
.storage > .storage-item{
		height: 150rpx;
		display: flex;
		justify-content: space-between;
		margin: 0 45rpx;
		font-size: 51rpx;
		line-height: 150rpx;
		border-top: 1px solid #EAEAEA;
	}
.storage > .storage-item:first-child{
	border-top: none;
}
.storage > .storage-item .storage-item-left{
			font-weight: bold;
			color: #333333;
			}
.storage > .storage-item > .storage-item-right{
			display: flex;
			color: #666666;
			}
.storage > .storage-item > .storage-item-right > .info{
				margin-right: 22.5rpx;
				}
.storage > .storage-item > .storage-item-right > .input{
				height: 150rpx;
				font-size: 51rpx;
				text-align: right;
				color: #666666;
				margin-right: 22.5rpx;
				}
.storage-item:last-child{
	border-bottom: 0;
}

/*扫描表头变蓝*/
 .selectLine {
 	background-color: #E4F4FF !important;
 	font-weight: 900;
 }
 .selectLine text{
 	color: #0C99F2 !important;
 	font-weight: 900;
 }
 .selectLine view{
 	color: #0C99F2 !important;
 	font-weight: 900;
 }

/* 字体样式大小 */
.iconfont{
	font-size: 18rpx;
}

/* 底部更多按钮样式 */
.bottomTab{
	width: 100%;
	height: 156rpx;
	line-height: 156rpx;
	background-color: #FFFFFF;
	position: fixed;
	left: 0;
	bottom: 0;
	border-top: 1px solid #EAEAEA;
	display: flex;
	justify-content: space-between;
	font-size: 51rpx;
	padding: 0 45rpx;
	box-sizing: border-box;
}
.bottomTab > .bottom-left{
		color: #585858;
		display: flex;
		align-items: center;
	}
.bottomTab > .bottom-left > text{
		margin-left: 22.5rpx;
	}
.bottomTab > .bottom-right{
		display: flex;
		}
.bottomTab > .bottom-right > .count{
			color: #585858;
			margin-right: 22.5rpx;
		}
.bottomTab > .bottom-right > .btn{
			height:120rpx;
			width: 300rpx;
			margin-top: 18rpx;
			line-height: 120rpx;
			text-align: center;
			border-radius: 6px;
		}
.bottomTab > .bottom-right > .btnActive{
			background: #0C99F2;
			color: #FFFFFF;
		}
.bottomTab > .bottom-right > .btnDisable{
			color: #999999;
			background: #E0E0E0;
		}
.btnLocation > .scanNum > .inStorageBtn{
	height:120rpx;
	width: 300rpx;
	line-height: 120rpx;
	text-align: center;
	border-radius: 6px;
	font-size: 51rpx;
}
.btnLocation > .scanNum > .btnActive{
	background-color: #0C99F2;
	color: #FFFFFF;
}
.btnLocation > .scanNum > .btnDisable{
	color: #999999;
	background-color: #E0E0E0;
}
/*更多清空弹出框样式*/
 .btnModal {
 	position: absolute;
 	left: 45rpx;
 	bottom: 10rpx;
 	z-index: 10;
 }
 .btnModal>.modalImage {
 	width: 450rpx;
 	height:229rpx;
 }
 
 
/* 错误和正确的提示公共样式*/	
// .remindPopup {
// 	color: #666;
// 	font-size: 30rpx;
// 	font-weight: bold;
// 	border-radius: 10rpx;
// 	height: 80rpx;
// 	text-align: center;
// 	line-height: 80rpx;
// 	position: absolute;
// 	left: 50%;
// 	top: 50%;
// 	transform: translate(-50%,-50%);
// 	white-space:nowrap;
// 	z-index: 999;
// }
/* 正确提示特有样式 */
// .successPopup {
// 	background-color: #F6FFEE;
// 	border: 1px solid #B9EA93;
	
// }
// .successPopup>.successImage {
// 	display: inline-block;
// 	background: url('../static/cutWarehouse/success.png') no-repeat;
// 	width: 50rpx;
// 	height: 50rpx;
// 	position: absolute;
// 	left: 20rpx;
// 	top: 10rpx;
// }
/* 错误特有样式 */
// .errorPopup {
// 	background-color: #FFF2F1;
// 	border: 1px solid #FDA4A0;
	
// }
// .errorPopup>.errorImage {
// 	display: inline-block;
// 	background: url('../static/cutWarehouse/error.png') no-repeat;
// 	width: 40rpx;
// 	height: 40rpx;
// 	position: absolute;
// 	left: 20rpx;
// 	top: 20rpx;
// }